html 
	head
		meta(name='viewport', content='width=device-width, initial-sacle=1')
		title Sistema
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		body
			block content
				.main.container
					.row
						.col-md-6.col-md-offset-3
							h1.display4.m-b-2 Crear Usuario
							form(method='POST' action='/create')
								div.form-group
									label(for='nombre') Nombre:
									input#nombre.form-control(type='text' name='nombre')
								div.form-group
									label(for='password') Password:
									input#password.form-control(type='text' name='password')
								div.form-group
									label(for='email') Email:
									input#email.form-control(type='text' name='email')
								button.btn.btn-primary(type='submit') Grabar