html 
	head
		meta(name='viewport', content='width=device-width, initial-sacle=1')
		title Dharmi
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		body
			block content
				.container
					ul
						li
							a(href="/usuario").btn.btn-large.btn-success Usuario
						li
							a(href="/usuario").btn.btn-large.btn-success Documentos
						li
							a(href="/usuario").btn.btn-large.btn-success Notificaciones